@charset "utf-8";

.main-contents{
    padding:50px 0;
    &__title{
        font-size: 2em;
        text-align: center;
        margin-bottom: 50px;
    }
}

.main-task{
    display: flex;
    justify-content: center;
    &__box{
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
        margin: 0 50px;
        img{
            width: 100px;
            border-radius: 50%;
        }
        p{
            &:hover{
                cursor:pointer;
                transform:rotate(-5deg);
                transition: 0.1s;
            }
        }
    }
}

.main-reason{
    width: 900px;
    margin: 50px auto;
    overflow: hidden;
    &__box01{
        float:left;
        width: 440px;
        padding: 0 10px;
        box-sizing: border-box;
    }
    &__box02{
        float:right;
        width: 440px;
        padding: 0 10px;
        box-sizing: border-box;
    }
}

.main-example{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    &__box{
        width: 300px;
        font-size: 1.2em;
        font-weight: bold;
        &--company{
            font-size: 0.8em;
            font-weight: normal;
        }
    }
}

.company-logo{
    text-align: center;
    margin: 0;
    p{
        width:80px;
        display: inline-block;
        vertical-align: top;
    }
}

.main-flow{
    display: flex;
    &__box{
        margin: 0 30px;
    }
    &__title{
        position: relative;
        width:200px;
        font-size: 1.2em;
        background: #666;
        color: #fff;
        font-weight: bold;
        padding: 30px;
        &::after{
            position: absolute;
            content:'';
            width: 0;
            height: 0;
            border-left: 40px solid #666;
            border-top: 42px solid transparent;
            border-bottom: 42px solid transparent;
            top:0;
            left:260px;
        }
    }
}

.main-faq{
    counter-reset: count 0;
    &:last-child{
        border-bottom:2px solid #999;
    }
    &__que{
        border-top: 2px solid #999;
        padding: 25px 20px;
        letter-spacing: 0.2em;
        position: relative;
        &::before{
            counter-increment: count;
            content: counter(count)".";
            margin-right: 8px;
        }
        &::after{
            content: '＋';
            font-weight: bold;
            position: absolute;
            top: 25px;
            right: 15px;
        }
        &:hover{
            cursor: pointer;
            background: #000;
            color: #fff;
            transition: all 0.5s;
        }
    }
    &__que--change{
        &::after{
            content: 'ー';
            font-weight: bold;
            position: absolute;
            top: 25px;
            right: 15px;
        }
    }
    &__ans{
        margin: 0;
        padding:20px;
        border-top: 1px dotted #aaa;
    }
}